* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    background-image: url("nuage.jpeg");
    background-size: cover;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Ares.png");
    border-radius: 50%;
    border: darkred 6px double;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    margin-top: 8rem;
    z-index: -1;
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

#hour, #minute, #second {
    position: absolute;
    transform-origin: 50% 100%;
    width: 0.3rem;
    background-color: white;
    z-index: 2;
}

#hour {
    margin-top: 3rem;
    position: absolute;
    height: 6rem;
}

#minute {
    height: 9rem;
}

#second {
    background-color: red;
    height: 9rem;
    z-index: 3;
}



